.avatar {
    flex-shrink: 0;
}
.image-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 50%), url("../assets/image.png");
    width: 260px;
    height: 380px;
    object-fit: cover;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.eval-counter {
    color: var(--fg1);
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1ch;
    margin-bottom: 15px;
}

.like {
    flex-basis: 9ch;
    margin-left: auto;
    & > button {
        background-color: #1e98c4;
    }
}

.eval-button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 0;
}

.dislike {
    flex-basis: 9ch;
    margin-right: auto;
    & button {
        background-color: #dd5161;
    }
}

.add_bookmarks {
    background-color: var(--bg1);
    font-family: "Arial";
    color: white;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    height: 3rem;
}
